@font-face {
    font-family: PackingHeat;
    src: url(./fonts/PackingHeat.ttf) format('truetype');
}

* {
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

.page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
}

.graphic-container {
    width: 30%;
    height: 100vh;
    min-width: 30%;
    
}

img {
    width: 30vw;
    height: 100vh;
    display: block;
}

.logo {
    position: absolute;
    bottom: 55%;
    height: 20%;
    width: 30%;
    background-color: rgba(7, 7, 7, 0.6)
    
}

.thor {
    position: absolute;
    top: 10%;
    height: 80%;
    width: auto;
    left: 25%;
}

.image-container {
    height: 100%;
}

.image-container::after {
    font-family: 'PackingHeat' , sans-serif;
    content: "ODIN";
    font-size: 80px;
    color: white;
    position: absolute;
    left: 50%;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
     
}

.form-header {
    height: 25vh;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 40px;
    
}

.form-body {
    padding: 0px 40px;
    height: 45vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

input {
    display: block;
}

.form-header > p {
    width: 88%;
    font-weight: bold;
}

.form-contents {
    display: flex;
    gap: 15%;

}

.input-default {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.5);
}

.input-default:focus , .input-password:focus {
    opacity: 1;
    outline: none;
    border: 1px solid blue;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    color: black;

}

.input-password {
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px 10px;

}

.input-error {
    border: 1px solid red;
    border-radius: 4px;
    opacity: 1;
    padding: 5px 10px;
}

.error-message:after {
    content: "* Passwords do not match";
    color: red;
    margin-top: 25px;
    font-size: 10px;

}

.input-error:focus {
    border: 1px solid blue;
    outline: none;
    opacity: 1;

}





label {
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 2px;
}

.form-left , .form-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.form-footer {
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 40px;

}

.form-body {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

.form-footer {
    background-color: #fffeea;
    
}


button {
    border: 0px;
    background-color: #45721c;
    padding: 12px 40px;
    border-radius: 6px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;

}



/*
.logo {
    position: absolute;
    bottom: 60%;
    font-size: 40px;
    color: white;
    z-index: 5;
    overflow: hidden;
    font-family: 'PackingHeat', sans-serif;
}
*/